body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto 0 auto;
  background-color: #56d46a;
  width: 80vw;
  height: 75vh;
}

#speechButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#speechButton.active {
  animation: pulse 0.3s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
